{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "rules": {
        "semi": ["error", "never"],
        "indent": ["error", 4],
        "comma-dangle": ["error", "always-multiline"],
        "quotes": ["error", "single"],
        "@typescript-eslint/ban-ts-comment": "off"
    }
}
